<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
	<session-factory>
		<!-- 1.数据库连接信息 （必须）4个-->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb?characterEncoding=utf8</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<!-- 方言 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<!-- 2.扩展信息 （可选的）-->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.format_sql">true</property>
		<!-- 3.映射资源信息（可选） -->
		<mapping resource="hbm/Student.hbm.xml"/>
		<mapping class="com.zxy.hibernatelock.pojo.Book"/>
		<mapping class="com.zxy.hibernatelock.pojo.Teacher"/>
		<mapping class="com.zxy.hibernatelock.pojo.Order"/>
		<mapping class="com.zxy.hibernatelock.pojo.Product"/>
	</session-factory>
</hibernate-configuration>